* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content {
  max-width: 1200px;
  width: 100%;
  height: 100vh;
  display: flex;
}
.menu {
  background-color: #000;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  & form {
    width: 100%;
    max-width: 400px;
  }

  & li {
    list-style: none;
    margin: 0 15px;
    cursor: pointer;
    font-size: 15px;
    font-family: "Poppins", sans-serif;

    & a {
      text-decoration: none;
      color: #fff;
      display: inline-flex;
      align-items: center;

      & img {
        filter: brightness(0) invert(1);
        mix-blend-mode: difference;
        width: 15px;
        height: 15px;
        margin-right: 5px;
      }
    }
  }
}
.search-bar {
  display: flex;
  justify-content: space-between;
  background-image: url("./img/search.png");
  background-size: 18px;
  background-position: right 5px center;
  background-repeat: no-repeat;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  font-size: 15px;
  background-color: #696969;
  outline: none;
  transition: 0.3s;

  &::placeholder {
    color: #000; /* Cor do placeholder */
    font-style: italic; /* Deixa o texto em itálico (opcional) */
  }
}
.search-bar:focus {
  border-color: #999; /* Muda a cor da borda ao focar */
  background-color: #e0e0e0; /* Cinza mais escuro ao focar */
  &::placeholder {
    color: #888; /* Cor do placeholder */
    font-style: italic; /* Deixa o texto em itálico (opcional) */
  }
}
.introduction {
  display: flex;
  & h1 {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    padding: 30px;
    color: #00008b;
  }
}
